@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --telegram-header-color: #f6f6f8;
  --telegram-background-color: #f6f6f8;
}

html.dark {
  --telegram-header-color: #101622;
  --telegram-background-color: #101622;
}

body {
  /* Respect the notch area on devices running Telegram Mini Apps */
  padding-top: calc(constant(safe-area-inset-top) + 50px);
  padding-top: calc(env(safe-area-inset-top) + 50px);
  padding-top: calc(var(--tg-safe-area-inset-top) + 50px);
}
