@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --telegram-header-color: #f6f6f8;
  --telegram-background-color: #f6f6f8;
}

html.dark {
  --telegram-header-color: #101622;
  --telegram-background-color: #101622;
}
